UVA/10180.exe
UVA/10180.o
*.exe
*.o
*.txt
SPOJ/ALIENS.cpp
SPOJ/WPUZZLES.cpp
UVA/522.cpp
UVA/test.cpp
UVA/A.cpp
UVA/B.cpp
UVA/11473_2.cpp
UVA/Untitled2
UVA/10406.cpp
UVA/10406.cpp
SPOJ/XOINC.cpp
IGNORE/AA.cpp
IGNORE/A.cpp
IGNORE/D.cpp
IGNORE/245D.cpp
IGNORE/B.cpp
IGNORE/C.cpp